@model Login

<h1>Log In</h1>

<form asp-action="Login" asp-controller="User" method="post">
  <span asp-validation-for="Email"></span>
  <label asp-for="Email"></label>
  <input asp-for="Email">

  <span asp-validation-for="Password"></span>
  <label asp-for="Password"></label>
  <input asp-for="Password">

  <button type="submit">Log In</button>
</form>